.equipment_page_container{
    background-color: #f8f9fa;
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100vw - 50px);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    box-sizing: border-box;
    align-items: center;
    overflow-y: auto;
}

.equipment_page_container > * {
    
    width: 100%;
}

.equipment_page_container_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}
